<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LegacyApp.Desktop.Properties.Settings.LegacyAppConnectionString"
            connectionString="Data Source=.\SQL20216;Initial Catalog=LegacyApp;Persist Security Info=True;User ID=LegacyUser;Password=Password-1"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>